Sobe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.ftn.uns.ac.rs/Sobe" xmlns:sobe="http://www.ftn.uns.ac.rs/Sobe">

    <xs:element name="Soba">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id_soba" type="xs:long"/>
                <xs:element name="Broj_sobe" type="xs:int"/>
                <xs:element name="Broj_kreveta" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
